body{
    padding: 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.caixa{
    border: solid 1px black;
    padding: 5px 10px; margin: 40px;
}
.area-visivel span{
    color: gray;
    display: none;
}
@media screen and (max-width: 600px) {
    .um {
        background-color: rgb(115, 255, 185);
    }
    span.lt600{
        display: inline-block;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    .tres{
        background-color: red;
    }
    span.bt600-900{
        display: inline-block;
    }
}@media screen and (min-width: 900px){
    .dois {
        background-color: blue;
    }
    span.gt900{
        display: inline-block;
    }
}