/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    float: left;
    margin: 0;
    padding: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Skills Section */
.skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.skills ul li {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Projects Section */
.projects .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .project-item {
    background: #f4f4f4;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
}

/* Contact Section */
.contact ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contact ul li {
    margin: 10px 0;
}

.contact ul li a {
    color: #77aaff;
    text-decoration: none;
}


/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
