body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.icone{
	padding:0px 0px !important;
position: absolute;
	top: 0;
	left: 50px;
	width: 55px;
	height: auto;
}
.topnav a.split {
  float: right;
  background-color: #5266FF;
	color: white;
}
.button {
  background-color: #920002;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}